.oneByOne {
	display: flex !important;
	flex-direction: column !important;
	max-width: 400px;
	text-align: center;
	justify-content: center;
	align-items: center;
}

.subButton {
	margin: 40px;
}

h5 {
	margin: 20px;
}

.inputField {
	position: relative;
	margin: 7px 0;

	z-index: 1;
	padding: 8px 12px;
	border-radius: 5px;
	box-shadow: 0 0 5px 10px transparent, 0 1px 0 rgba(0, 0, 0, 0.08) inset;
	line-height: 1.5em;
	width: 40%;
	background-color: #b8bec3;
}

::placeholder {
	color: black;
}
